* {
  background: #F3F3F3;
  color: #0b3d91;
}

header {
  height: 70px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

header img {
  height: 80%;
  margin-right: 4%;
  background-color: black;
}

h1 {
  background: black;
  color:  #EE1E00;
}

form {
  display: flex;
  justify-content: center;
}

#card {
  max-width: 1000px;
  margin: 3% auto;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.image {
  width: 40%;
  border-radius: 20px;
}

.occasion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 40%;
}

.occasion h2, 
.occasion h4 {
  margin: 3%;
}

p {
  margin: 5% 6.67%;
  padding: 2.5% 4%;
  display: flex;
  justify-content: center;
  text-align: justify;
  border: 2px solid #0b3d91;
  border-radius: 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background: black;
}

footer a {
  background: black;
  text-decoration: none;
  color: #EE1E00;
}

@media (max-width: 500px) {
  header {
    flex-direction: column;
    height: 35vh;
    align-items: center;
    padding: 8% 0 4% 0;
  }

  header img {
    height: 40%;
  }

  .container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .occasion {
    width: 80%;
  }

  .image {
    width: 86.63%;
  }  
}